#bg{
    background-image: url(../../images/carosel/carosel_2.jpg);
    height: 100vh;
    background-size: cover;
    position: relative;
    animation: animate 6s linear infinite;

}

@keyframes animate {
    0%,100%{
        background-position: top;
    }
    45%,55%{
        background-position: bottom;
    }
}